n8n_gmailWorkflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "53e918d0-5f99-49d8-9ea2-21bcec10668e",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "P4UhlZnpLezeWdBC",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=you are an intelligent model. read this and write a reply. {{ $json.snippet }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "a15dcc62-897e-406b-b6ee-6da0ad30796a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "ddd33ee1-85c1-4600-a5c1-af54bba6b64f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "WRDKzu6cAwcka0e8",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Gmail Trigger').item.json.To }}",
        "subject": "=xyz",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        560,
        0
      ],
      "id": "95649168-cd8f-4a67-93f6-645c6d2f443f",
      "name": "Send a message",
      "webhookId": "487b3e41-5c12-4573-9e44-dccd23e3ef8d",
      "credentials": {
        "gmailOAuth2": {
          "id": "P4UhlZnpLezeWdBC",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "15ae2a48-785b-4914-a979-58eecf93089e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b0779f075aab1f6a6f9d6ce1a060d4e26115fb9e16e794b7ce1f2b598eaef4cd"
  },
  "id": "4Lc5DKkFLwQQQyHo",
  "tags": []
}